    header{
        display: flex;
        top: 0;
        left: 0;
        justify-content: space-around;
        position: fixed;
        background-color: #000;
        height: 50px;
        width: 100%;
        margin-top: 0%;
   }
   header p{
        background-color: #000;
        color: white;
   }
    .open{
        display: block;
    }
    .close{
        display: none;
    }
    main{
        margin-top: 60px;
    }
    #home p{
        font-size: 30px;
        background-color: #777;
        border-radius: 10px;
        text-align: center;
        color: white;
    }