  *{
    background-color:azure;
    }
    header{
        color:white; 
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        position: fixed;
        background-color: #000;
        height: 50px;
        width: 100%;
   }
    .home{
    margin-top: 150px;
    }
    .prime_check{
        display: none;
    }
    .prime_create{
        display: none;
    }
    .prime_code{
        display: none;
    }